.idea
ml/*/.ipynb_checkpoints/
ml/linearRegression/__pycache__/
/ml/data/
ml/basic/__pycache__/
ml/knn/__pycache__/
/dl/dive-into-dl/chapter03-DL-basics/.ipynb_checkpoints/
/data/
/__pycache__/
dl/dive-into-dl/d2lzh_pytorch/__pycache__/utils.cpython-36.pyc
